#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* App.css */

/* The confetti container will take up the whole screen and cover all elements */
.confetti-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 9999;
  opacity: 1;

  animation: confetti-container-animation 5s infinite ease-in-out;

}

/* Individual confetti pieces */
.confetti {
  position: absolute;
  top: 0;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  animation: confetti-animation 5s infinite ease-in-out;
}

/* Keyframe animation for confetti falling */
@keyframes confetti-animation {
  0% {
    transform: translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: translateY(600px) rotate(720deg);
    opacity: 0;
  }
}

@keyframes confetti-container-animation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.confetti:nth-child(odd) {
  background-color: blue;
}
.confetti:nth-child(even) {
  background-color: green;
}

/* Add more confetti pieces to cover the screen */
.confetti:nth-child(3n) {
  background-color: orange;
}

.confetti:nth-child(4n) {
  background-color: pink;
}

/* Add some randomness to the positions of the confetti */
.confetti-container .confetti:nth-child(odd) {
  animation-duration: 2s;
  animation-delay: 0s;
}

.confetti-container .confetti:nth-child(even) {
  animation-duration: 3s;
  animation-delay: 0.5s;
}
/* Animación de fade-out para el texto de bienvenida */
.fade-out {
  animation: fadeOut 3s ease-in-out forwards;

}

/* Animación para desvanecer */
@keyframes fadeOut {
  from {
    opacity: 1; /* Comienza visible */
  }
  to {
    opacity: 0; /* Desaparece gradualmente */
  }
}

.welcome-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
}